/*
style of faq page
created by daeun yoo on 2023.04.27
*/

.faqList {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /*text-align: center;*/
}

h1 {
 border-bottom: 3px solid black;
}

ul {
  list-style: none;
  border-top: 3px solid blue;
}

.qLine {
  white-space: pre;
  /*display: flex;
  flex-wrap: nowrap;*/
  border-bottom: 1px solid gray;
}

img {
  width: 30px;
  height: 30px:
}

.click {
  /*float: right;*/
  text-align: right;
}
  
.answer {
  display: none;
}

.page {
  width: 30px;
  height: 30px;
  background-color: blue;
  text-align: center;
  color: white;
  line-height: 30px;
  margin-left: auto;
  margin-right: auto;
}
