/*
style of faq page
created by daeun yoo on 2023.04.27
*/

.faqList {
  /*width: 50%;
  margin-left: auto;
  margin-right: auto;*/
  text-align: center;
}

.h1 {
 border-bottom: 2px solid black;
}

ul {
  list-style: none;
}

.qLine {
  white-space: nowrap;
}

img {
  width: 10px;
  height: 10px:
}

/*.qMark {
  width: 10px;
  height: 10px:
}

.click {
  width: 10px;
  height: 10px:
}*/
  
/*.list {
  text-align: center;
}
*/
