/*
style of faq page
created by daeun yoo on 2023.04.27
*/

.faqList {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  /*text-align: center;*/
}

h1 {
 border-bottom: 3px solid black;
}

.test{
  white-space: nowrap;
}

ul {
  list-style: none;
  border-top: 3px solid blue;
}

.qLine {
  flex-wrap: nowrap;
  border-bottom: 1px solid gray;
}

.qContent {
 white-space: nowrap;
} 

img {
  width: 30px;
  height: 30px:
}

/*.qMark {
  width: 10px;
  height: 10px:
}

.click {
  width: 10px;
  height: 10px:
}*/
  
/*.list {
  text-align: center;
}
*/
